:host {
  box-sizing: border-box;
  display: table;
  padding: 5px;

  .info {
    padding: 5px;
    margin: 5px
  }
  .pick-points {
    box-sizing: border-box;
    border: 1px solid #444;
    display: block;
    float: left;
    padding: 0;
    width: 49%;

    label {
      padding: 2px 0;
      display: inline-table;
      width: 33%;

      &:hover {
        color: #933
      }
    }
  }
}
