:host {
  box-sizing: border-box;
  display: table;
  position: relative;
  width: 100%;  

  #d3-container {
    border: 1px solid #633;
    padding: 0 5px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #fefefe;
    margin: 5px;
  }

  ::ng-deep .node circle {
    cursor: pointer;
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
  }
  ::ng-deep .node rect {
    cursor: pointer;
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
  }
  ::ng-deep div.tooltip {	
    position: absolute;			
    padding: 5px;				
    font: 12px sans-serif;		
    background: #cfcfcf;	
    border: 1px solid #3a3939;		
    border-radius: 4px;			
    pointer-events: none;			
  }
  
  ::ng-deep .node text {
    font-size: 11px;
    font-weight: bold;
  }
  
  ::ng-deep path.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
  }

}
