<p class="info">
    <span>
        Pick points are the attributes in which you want to evaluate. 
        Target keys are the attributes in which evaluated data will be presented on.
    </span>
    <span>
        For example: if you are examining users and pick user age and city as pick points, 
        data will be evaluated on city and age. And if you pick user name and gender as target keys, 
        for each age and city reference, you will see the resulting data as name and age values.</span>
</p>
<fieldset class="pick-points">
    <legend>Target Keys:</legend>
    <label *ngFor="let x of targetKeys; let i = index" [for]="'targetKey' + i">
        <input 
            type="checkbox" 
            name="targetKey" 
            [id]="'targetKey' + i" 
            [value]="x.value" 
            [checked]="x.selected ? true: null" 
            (keyup)="keyup($event)"
            (click)="click($event, x)" /> 
        <span [textContent]="x.value"></span>
    </label>   
</fieldset>
<fieldset class="pick-points">
    <legend>Pick Points:</legend>
    <label *ngFor="let x of interestingPoints; let i = index" [for]="'pickpoint' + i">
        <input
            type="checkbox" 
            name="pickpoint" 
            [id]="'pickpoint' + i" 
            [value]="x.value" 
            [checked]="x.selected ? true: null" 
            (keyup)="keyup($event)"
            (click)="click($event, x)" />
        <span [textContent]="x.value"></span>
    </label>
</fieldset>
<fieldset class="pick-points default">
    <legend>Presentation:</legend>
    <label for="directionality">Directionality:</label>
    <select name="directionality" 
            id="directionality" 
            (change)="chaneDirectionality($event)">
        <option value="L2R">Left to Right</option>
        <option value="R2L">Right to Left</option>
        <option value="TD">Top Down</option>
    </select>
    <label for="nodeType">Node Type:</label>
    <select name="nodeType" 
            id="nodeType" 
            (change)="changeNodeType($event)">
        <option value="Plain">Plain</option>
        <option value="Rectangle">Rectangle</option>
        <option value="Circle">Circle</option>
    </select>
    <label for="colorSets">Color sets:</label>
    <select name="colorSets" 
            id="colorSets" 
            (change)="changeColorSets($event)">
        <option value="1">Sample 1</option>
        <option value="2">Sample 2</option>
    </select>
    <label for="tooltip">
        <input
            type="checkbox" 
            name="tooltip" 
            id="tooltip" 
            [checked]="tooltipEnabled ? true: null" 
            (keyup)="keyup($event)"
            (click)="click($event, 'tooltipEnabled')" />
        <span>Enable Tool tip</span>
    </label>
</fieldset>
<fieldset class="pick-points">
    <legend>Duplicates In result set:</legend>
    <label for="allowduplicates">
        <input
            type="checkbox" 
            name="allowduplicates" 
            id="allowduplicates" 
            [value]="allowduplicates" 
            [checked]="allowduplicates ? true: null" 
            (keyup)="keyup($event)"
            (click)="click($event, 'allowduplicates')" />
        <span>Allow Duplicates</span>
    </label>
    <label for="groupduplicates">
        <input
            type="checkbox" 
            name="groupduplicates" 
            id="groupduplicates" 
            [value]="groupduplicates" 
            [checked]="groupduplicates ? true: null" 
            (keyup)="keyup($event)"
            (click)="click($event, 'groupduplicates')" />
        <span>Group Duplicates</span>
    </label>
</fieldset>
